html{
  font-family: Helvetica;
  text-align: center;

}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

p{
  font-size: 14px;

}

.header{
    background-image: url("../images/the-flatiron-building.png");
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

a{
  color: white;
  font-size: 18px;
}

.identify{
  height: 36px;
}

.understand{
  height: 65px;
}

.execute{
  height: 55px;
}

.design{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

.footer{
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

.btn{
  font-size: 18px;
  color: white;
}
